@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(45deg, rgb(1, 153, 29), rgb(45, 66, 255));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
}

.container{
    width: 340px;
    border-radius: 8px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 2px solid rgba(255, 255, 255, 0.4);
}

.heading{
    color: white;
    text-shadow: 2px 3px 5px rgb(19, 19, 19);
    text-align: center;
    text-transform: uppercase;
}
label{
    display: block;
    color: white;
    font-size: 22px;
    font-weight: 500;
    padding: 5px 0px;
}
input[type=text]{
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 22px;
    padding: 10px;
    color: rgb(121, 121, 121);
}

input[type=text]:focus{
    outline: 3px solid rgb(83, 12, 0);
}



button{
    background-image: linear-gradient(45deg, rgb(1, 153, 29), rgb(45, 199, 255));
    box-shadow: 2px 1px 20px rgb(0, 85, 113);
    text-shadow: 2px 2px 6px rgb(19, 19, 19);
    cursor: pointer;
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: white;
    margin-top: 10px;
}

button:hover{
    outline: 2px solid rgb(64, 77, 197);
}

button:focus{
    outline: 2px solid rgb(64, 77, 197);
}

#result1{
    text-align: center;
    margin-top: 10px;
    color: white;
    text-shadow: 2px 3px 5px rgb(19, 19, 19);
}
#result2{
    text-align: center;
    color: white;
    text-shadow: 2px 3px 5px rgb(19, 19, 19);
}

table{
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
}

th,td{
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    color: white;
}

th{
    font-size: 18px;
}

td{
    font-size: 16px;
}

.credits{
    text-align: center;
    margin-top: 15px;
    color: white;
}



